body, .description {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* Ensures the body background is black */
  color: #fff;
  line-height: 1.6;
}

.video-background {
  position: relative;
  overflow: hidden; /* This prevents the video from overflowing outside its container */
  height: 100vh; /* Set the height of the video to be the full viewport height */
  display: flex;
  align-items: center; /* Centers the video vertically */
  justify-content: center; /* Centers the video horizontally */
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  border: none;
  /* The following line is critical for centering and covering the available space without repeating */
  object-fit: cover;
}

.navbar {
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.main-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-header h1 {
  font-family: 'Fahkwang', sans-serif;
  font-size: 3em;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.main-header p {
  font-family: 'Fahkwang', sans-serif;
  font-size: 1em;
  font-style: italic;
  margin-top:1px;
  padding: 0;
}

.description {
  font-family: 'Nunito', sans-serif;
  font-weight: 200; /* Extra Light */
  font-size: 0.9em;
  letter-spacing: 2px; /* Extra spaced out */
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #fff; /* Ensure the description text is white */
}
