<h1>MY DASHBOARD</h1>

<p> E-MAIL: <%= @user.email %> <p>
  <p> MY SURFBOARDS:  </p>
  <ul>
    <%= @user.surfboards.each do |surfboard| %>
    <li> <%= surfboard.board_type %> </li>
    <% end %>
  </ul>

  <p> MY BOOKINGS: </p>
