<h1>My dashboard</h1>

<p> E-MAIL: <%= @user.email %> <p>
  <p> My surfboards:  </p>
  <ul>
    <%= @user.surfboards.each do |surfboard| %>
    <li> <%= surfboard.board_type %> </li>
    <% end %>
  </ul>

  <p> My booking: </p>
