<h1>My Dashboard</h1>

<p> Email: <%= @user.email %> <p>
  <p> My Surfboards:  </p>
  <ul>
    <%= @user.surfboards.each do |surfboard| %>
    <li> <%= surfboard.board_type %> </li>
    <% end %>
  </ul>

  <p> My Bookings: </p>
