<div class="video-background">
<iframe allow="fullscreen;autoplay" allowfullscreen height="720" src="https://streamable.com/e/bcu917?autoplay=1&nocontrols=1" width="1280" style="border:none;"></iframe>

<div class="main-header">
  <h1>SURFIN THE WEB</h1>
  <p>Ride the wave</p>
</div>

<div class="description">
  <p>DISCOVER SURFBOARD RENTALS MADE SIMPLE. CONNECT, SELECT AND RIDE.</p>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var descriptionElement = document.querySelector('.description p');
  var textToType = descriptionElement.textContent;
  var typingSpeed = 75;
  descriptionElement.textContent = '';

  var i = 0;
  var typingEffect = function() {
    if (i < textToType.length) {
      descriptionElement.textContent += textToType.charAt(i);
      i++;
      setTimeout(typingEffect, typingSpeed);
    }
  };

  typingEffect();
});
</script>
