<div class="surfboards-index">
<h1>DISCOVER</h1>
  <div class="surfboards-container">
    <% if @surfboards.any? %>
      <div id='surfboard-container'>
        <ul>
          <% @surfboards.each do |surfboard| %>
            <li class="surfboard_card">
              <% surfboard.photos.each do |photo| %>
                <div class="surfboard-image">
                  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                </div>
              <% end %>
              <div class="surfboard-info">
                <h3><%= link_to surfboard.board_type, surfboard_path(surfboard) %></h3>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <p>Empty.</p>
    <% end %>
  </div>

  <div class="map-container" data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
