html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

#footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;

  &:hover {
    color: #ff1616;
    text-decoration: underline;
  }
}
