
#footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;

  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}
