.navbar-lewagon {
  justify-content: space-between;
  background: #000;
  color: #fff;

  a, .navbar-brand {
    color: #fff;
    &:hover {
      color: lighten(#fff, 10%);
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
