.surfboards-index {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  h1, ul, p, a {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }

  h1 {
    font-family: 'Fahkwang', sans-serif;
    color: #ffffff;
    margin-top: 5rem;
    margin-bottom: 2rem

  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  li {
    background-color: #000000;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 0 auto;

    .surfboard-image {
      display: block;
      margin: 0 auto 1rem;
      border-radius: 4px;
    }
  }


  a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase
  }


    &:hover {
      background-image: linear-gradient(to left, #bdc3c7, #2c3e50);
    }
  }
