.surfboards-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.page-title { // New class for the title
  position: absolute;
  top: 20px; // Adjusted for not too close to the borders
  left: 20px; // Adjusted for not too close to the borders
  font-size: 24px; // Example font size, adjust as needed
}

.surfboards-container {
  position: fixed;
  top: 70px; // Adjusted to ensure visibility above the map container
  left: 200px;
  right: 200px;
  bottom: 30%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin; // Make scrollbar slightly visible
  &::-webkit-scrollbar {
    display: block;
    width: 8px; // Adjusted for visibility
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); // Adjusted for visibility
    border-radius: 4px;
  }
}

.map-container {
  position: fixed;
  bottom: 40px;
  left: 200px;
  right: 200px;
  height: 20%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .surfboards-container, .map-container {
    left: 20px;
    right: 20px;
  }

  .surfboards-container {
    top: 60px; // Adjusted for visibility above the map container on smaller screens
    bottom: 40%;
  }
}
