.surfboards-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.surfboards-container {
  position: fixed;
  top: 120px;
  left: 200px;
  right: 200px;
  bottom: 30%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.map-container {
  position: fixed;
  bottom: 40px;
  left: 200px;
  right: 200px;
  height: 20%;
  z-index: 1000;
}

@media (max-width: 768px) {
  .surfboards-container, .map-container {
    left: 20px;
    right: 20px;
  }

  .surfboards-container {
    top: 100px;
    bottom: 40%;
  }
}
